.item {
  display: block;
  padding: 30px 15px;
  background-color: var(--color-light);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid var(--color-gray3);
  color: var(--color-gray8);
  text-decoration: none;
  font-family: var(--font-secondary);
}
