@import "../../styles/abstracts/pfs.scss";

.container {
  position: relative;
}

.input {
  height: 80px !important;
  border: 0;
  padding: 0 20px !important;
  font-size: 20px !important;
  width: 100%;
  margin-bottom: 10px;
  @media (min-width: 600px) {
    border-radius: 10px !important;
    margin-bottom: 0;
  }
}

.button {
  height: 80px;
  font-size: 20px;
  padding: 0 36px;
  background-color: var(--color-primary);
  width: 100%;
  @media (min-width: 600px) {
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 8px !important;
    width: auto;
    height: 70px;
  }
}
