@import "../../styles/abstracts/pfs.scss";

.input {
  height: 64px !important;
  border: 0;
  padding: 0 20px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  @media (min-width: 600px) {
    border-radius: 6px 0 0 6px !important;
    width: 340px;
    margin-bottom: 0;
  }
}

.button {
  height: 64px;
  font-size: 16px;
  padding: 0 40px;
  background-color: var(--color-primary);
  width: 100%;
  @media (min-width: 600px) {
    border-radius: 0 6px 6px 0 !important;
    width: auto;
  }
}
