.container {
  display: inline-block;
  font-size: 16px;
  font-family: var(--font-primary);
  font-weight: 500;
  color: var(--color-primary);
  padding: 10px;
  cursor: pointer;
  &:hover {
    .icon {
      transform: translateX(4px);
    }
  }
}

.icon {
  display: inline-block;
  font-size: 12px;
  margin-left: 8px;
  transition: 300ms ease;
}