@import "../../../styles/abstracts/pfs.scss";

.container {
  position: relative;
  z-index: 1;
  padding: 50px 0;
  background-color: var(--color-gray2);
  background-size: cover;
  background-position: 50% 50%;
}

.title {
  font-size: pfs(24px, 40px);
  color: var(--color-gray9);
}

.text {
  font-size: 16px;
  color: var(--color-gray7);
}
