.container {
  padding: 50px 0;
  background-color: var(--color-gray2);
  background-image: url('https://img.freepik.com/free-photo/design-space-decorated-with-leaves-website-banner-template_53876-129927.jpg?w=1380');
  background-size: cover;
  background-position: center;
}
