.container {
  max-width: 500px;
  margin: auto;
  padding: 30px;
  border-radius: 6px;
  background-color: var(--color-light);
  display: flex;
  flex-direction: column;
}

.formItem {
  margin-bottom: 15px;
}

.label {
  font-family: var(--font-secondary);
  font-size: 14px;
  color: var(--color-gray8);
  span {
    color: var(--color-quaternary);
  }
}

.input, .select {
  width: 100%;
}

.notify {
  font-size: 12px;
  color: var(--color-danger);
  display: none;
}

.input {
  &:invalid {
    &:focus {
      border-color: var(--color-danger);
      ~ .notify {
        display: block;
      }
    }
  }
  &:valid {
    border-color: var(--color-success);
  }
}
