.input, .select {
  width: 100%;
}

.notify {
  font-size: 12px;
  color: var(--color-danger);
  display: none;
}

.input {
  &:invalid {
    &:focus {
      border-color: var(--color-danger);
      ~ .notify {
        display: block;
      }
    }
  }
  &:valid {
    border-color: var(--color-success);
  }
}
