@import 'styles/abstracts/pfs.scss';

.container {
  max-width: 800px;
  margin-bottom: 30px !important;
}

.subTitle {
  font-size: 20px;
  margin-bottom: 10px;
}

.title {
  @include pfs('font-size', 40px, 50px);
  span {
    color: var(--color-primary);
  }
}

.text {
  font-size: 15px;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
  margin: auto;
}

.right {
  text-align: right;
  margin-right: 0;
}