.container {
  position: relative;
  &:hover {
    .title {
      color: var(--color-primary);
    }
  }
}

.date {
  font-size: 14px;
  font-family: var(--font-secondary);
  margin-top: 4px;
}

.title {
  margin-top: 15px;
  font-size: 22px;
}

.excerpt {
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 14px;
  &:first-letter {
    text-transform: uppercase;
  }
}
