.container {
  border-radius: 6px;
  border: 1px solid var(--color-gray3);
  overflow: hidden;
  background-color: var(--color-light);
  margin: auto;
}

.content {
  padding: 12px 15px;
}

.title {
  font-size: 16px;
  margin-bottom: 3px;
  line-height: 1.2;
}
