@import "../../../styles/abstracts/pfs.scss";

.table {
  display: flex;
  font-size: pfs(14px, 16px);
  border: 1px solid var(--color-gray3);
  border-radius: 10px;
}

.features {
  position: relative;
  width: 30%;
}

.plans {
  position: relative;
  display: flex;
  width: 70%;
}

.plan {
  text-align: center;
}

.planBody {
  h3 {
    &:before {
      content: 'Veda';
      display: block;
      opacity: 0;
    }
  }
  li {
    border-left: 1px solid var(--color-gray3);
  }
  :global {
    .fa-check {
      font-size: pfs(16px, 20px);
      color: var(--color-success);
    }
    .fa-minus {
      font-size: pfs(16px, 20px);
      color: var(--color-gray5);
    }
  }
}

.planHeader {
  border-left: 1px solid var(--color-gray3);
}

.planHeaderHighlight {
  background-color: var(--color-gray9) !important;
  color: var(--color-gray1);
  .planTitle,
  .planPrice,
  span {
    color: var(--color-gray1) !important;
  }
}

.featuresHeader, .planHeader {
  z-index: 9;
  min-height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--color-gray3);
  background-color: var(--color-gray1);
  padding: 10px;
  @media (min-width: 950px) {
    position: sticky;
    top: 80px;
  }
}

.featuresHeader {
  border-radius: 10px 0 0 0;
}

.featuresTitle {
  font-size: 20px;
}

.planBody, .featuresContent {
  h3 {
    font-size: pfs(18px, 24px);
    padding: 23px 30px;
    border-bottom: 1px solid var(--color-gray3);
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    padding: 19px pfs(15px, 30px);
    border-bottom: 1px solid var(--color-gray3);
  }
}

.last {
  border-bottom: 0 !important;
}

.planTitle {
  font-size: pfs(16px, 20px);
}

.planPrice {
  font-family: var(--font-secondary);
  font-size: pfs(26px, 35px);
  font-weight: 500;
  color: var(--color-primary);
  margin-bottom: 10px;
  span {
    font-size: pfs(16px, 20px);
    font-weight: 400;
    color: var(--color-gray7);
    vertical-align: middle;
  }
}

.tooltip {
  padding: 0 10px;
  color: var(--color-gray5);
}

.buttonGroup {
  position: sticky;
  top: 70px;
  z-index: 10;
  text-align: center;
  margin-bottom: 10px;
  button {
    margin: 5px;
    font-size: 13px;
    white-space: nowrap;
  }
}
